
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows anyone to read and write to the database.
    // Make sure to secure your database before deploying to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
