@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 195 53% 79%;
    --primary-foreground: 216 34% 17%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 120 73% 85%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }
  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 96.1%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 96.1%;
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 40% 96.1%;
    --primary: 195 53% 79%;
    --primary-foreground: 216 34% 17%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 216 34% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    @keyframes rainbow-pulse {
        0%, 100% { background-color: hsla(0, 70%, 60%, 0.1); }
        16% { background-color: hsla(60, 70%, 60%, 0.1); }
        33% { background-color: hsla(120, 70%, 60%, 0.1); }
        50% { background-color: hsla(200, 70%, 60%, 0.1); }
        66% { background-color: hsla(270, 70%, 60%, 0.1); }
        83% { background-color: hsla(330, 70%, 60%, 0.1); }
    }
    .animate-rainbow-border {
        border: 2px solid transparent;
        border-image: conic-gradient(from var(--gradient-angle, 0deg), hsl(0, 70%, 60%), hsl(60, 70%, 60%), hsl(120, 70%, 60%), hsl(200, 70%, 60%), hsl(270, 70%, 60%), hsl(330, 70%, 60%), hsl(0, 70%, 60%)) 1;
        animation: rainbow-pulse 2s infinite;
    }
}


@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  .no-print {
    display: none !important;
  }
  .printable-area {
    display: block !important;
  }
  .page-break {
    page-break-before: always;
  }
  .progress-bar-segment {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  .print-only {
    display: block !important;
  }
  .screen-only {
    display: none !important;
  }
}
