@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 195 53% 79%;
    --primary-foreground: 216 34% 17%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 120 73% 85%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }
  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 96.1%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 96.1%;
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 40% 96.1%;
    --primary: 195 53% 79%;
    --primary-foreground: 216 34% 17%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 216 34% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    .animate-rainbow-border {
      animation: rainbow-border 2s linear infinite;
      border-image: linear-gradient(to right, #ef4444, #f59e0b, #eab308, #84cc16, #22c55e, #14b8a6, #06b6d4, #3b82f6, #8b5cf6, #d946ef) 1;
      background-image: linear-gradient(to right, 
        rgba(239, 68, 68, 0.2), 
        rgba(245, 158, 11, 0.2), 
        rgba(234, 179, 8, 0.2), 
        rgba(132, 204, 22, 0.2), 
        rgba(34, 197, 94, 0.2), 
        rgba(20, 184, 166, 0.2), 
        rgba(6, 182, 212, 0.2), 
        rgba(59, 130, 246, 0.2), 
        rgba(139, 92, 246, 0.2), 
        rgba(217, 70, 239, 0.2)
      );
      animation: rainbow-bg 4s linear infinite;
      background-size: 200% 200%;
    }

    @keyframes rainbow-bg {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }
}


@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  .no-print {
    display: none !important;
  }
  .printable-area {
    display: block !important;
  }
  .page-break {
    page-break-before: always;
  }
  .progress-bar-segment {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  .print-only {
    display: block !important;
  }
  .screen-only {
    display: none !important;
  }
}
